body{
    margin: 0px;
}
/*******************************************************************************************************************/
/*                                                                                                                  /
/*                                                                                                                  /    
                                             /*Barre fixe de navigation */
/*                                                                                                                   /
/*                                                                                                                   /
/********************************************************************************************************************/ 

#header_webagency{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 80px;
    flex-wrap: wrap;
    height: 99px;
    width: 1903px;
    position: fixed;
    background-color:white;
    z-index: 9;
}
.navigation  ul{
    list-style-type: none;
    display: flex; 
}
.menus{
    margin-right: 20px;
    background-color: white;
}
.navigation a{
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.5) ;
    text-decoration: none;
}
.navigation a:hover{
    border-top: 4px #5CADD3 solid;     
    padding: 35px 0 0;
    color: black;
}

/*******************************************************************************************************************/
/*                                                                                                                  /
/*                                                                                                                  / 
                                                            /*slider */
/*                                                                                                                   /
/*                                                                                                                   /
/********************************************************************************************************************/ 
@font-face {
    font-family: 'robotothin';
    src: url('texte_police/texte1/roboto-thin-webfont.woff') format('woff2'),
         url('texte_police/texte1/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#titre_principal{
    font-family: robotothin-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 41px;
    padding-top: 240px;
    padding-left: 280px;
}
span{
    color: rgb(92, 173, 211);
}
#titre_secondaire{
    margin-top: -20px;
    padding-left: 280px;
    font-size: 16px;
}
.enfant_sourit{
    z-index: 0;
    margin-top: 77px;
    height: 654px;
}
.texte_slider{
    color: #ffffff ;
    z-index: 1;
    position: absolute;
}
.bouton{
    z-index: 1;
    position: absolute;
    top: 440px;
    left: 290px;
    width: 148px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    color: white;
    background-color: rgb(92, 173, 211);
    border: none;
    border-bottom: 3px solid rgb(68, 148, 187);
    border-radius: 4px;
    cursor: pointer;
}
#fleche_left{
    z-index: 1;
    position: absolute;
    top: 360px;
    padding-left: 12px;
    background:rgba(67, 66, 71, 0.6);
    width: 70px;
    height: 80px;
    border-radius: 50px;  
    left: -40px;
    cursor: pointer;
}
#rond_left{
    position: absolute;
    margin-top: 20px;
    right: 20px;
    color: white;
    font-size: 35px;
}
#fleche_right{
    z-index: 1;
    position: absolute;
    top: 360px;
    margin-left: 1857px;
    background:rgba(67, 66, 71, 0.2);
    width: 46px;
    height: 80px;
    border-radius: 50px 0 0 50px;
    cursor: pointer;
}
#rond_right{
    position: absolute;
    color: white;
    font-size: 35px;
    margin-top: 23px;
    margin-left: 16px;
}
#ligne_bleu{
   position: absolute;
   z-index: 2;
   color: #5CADD3;
   margin-top: -5px;
   padding-left: 274px;
   margin-bottom: 0px;
   bottom: 213px;
   border-top-width: 4px;
   margin-top: 0px;
}
#ligne_grise{
    position: absolute;
    z-index: 1;
    color: rgba(0, 0, 0, 0.2);
    margin-top: -5px;
    padding-left: 1900px;
    margin-bottom: 0px;
    bottom: 213px;
    border-top-width: 4px;
    margin-top: 0px;
}
/*******************************************************************************************************************/
/*                                                                                                                  /
/*                                                                                                                  / 
                                                Nos Services /Nos Projets (titre et texte)
/*                                                                                                                   /
/*                                                                                                                   /
/********************************************************************************************************************/ 
.grand_titre{   						
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.texte{
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 25px;
    margin-bottom: 60px;
}
.circle_blue{
    display: flex;
    justify-content: center;
    margin-top: -20px;
    color:rgb(92, 173, 211) ;    
}
.circle_white{
    display: flex;
    justify-content: center;
    margin-top: -16px;
    color:white; 
    font-size: 25px;
}
.ligne{
    width: 125px;
    margin-top: -9px;
    color: rgba(237, 237, 237, 0.5);
}
#services{
    padding-top: 90px;
}
/*******************************************************************************************************************/
/*                                                                                                                  /
/*                                                                                                                  / 
                                        sections et article (nos services)           
/*                                                                                                                   /
/*                                                                                                                   /
/********************************************************************************************************************/ 
#description{
    display: flex;
    flex-direction: row;
}
#block_design{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#block_ordi{
    width: 50%;
    display: flex;
    justify-content: center;
}
.design{
    display: flex;
}
.texte_titre{
    margin-top: -10px;
    color:rgba(0, 0, 0, 0.5);
}
.circle_services{
    z-index: 1;
    color:rgb(92, 173, 211) ;
    display: flex;
    padding-top: 50px;
    font-size: 15px;
    padding-right: 25px;
    margin-left: -32px;
}
.ux_chart ,.ui_dessign ,.seo{
    position: relative;
    color:rgb(92, 173, 211);
    font-size: 200%;
    margin-top: 15px;
    margin-left: 15px;
}
.border_services{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    margin-top: 26px;
    border: solid rgba(0, 0, 0, 0.2);
    border-width: 2px;
}
.border_circle{
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
    left: -11px;
    bottom: -47px;
}
    


/*******************************************************************************************************************/
/*                                                                                                                  /
/*                                                                                                                  / 
                                        nos projets           
/*                                                                                                                   /
/*                                                                                                                   /
/********************************************************************************************************************/ 
#ul_projets{
    display: flex;
    justify-content: center;
}
#nav_projets{
    display: flex;
    list-style-type: none;
    width: 395px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(229, 229, 229);
    color: rgb(101, 105, 110);
    border: none;
    border-radius: 5px;
}
.boutom_projets{
    display: flex;
    width: 100px;
    justify-content: center;
    font-size: 1.1em; 
    cursor: pointer;
   
}
#ul_projets a:hover{
    color: white;
    border: none;
    border-radius: 5px;
    background-color:rgb(92, 173, 211) ;
} 
#portfolio{
    padding-top: 90px;
}
#different_project{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.images_projet{
    width: 350px;
}