body{
    margin: 0%;
}
@font-face {
    font-family: 'robotothin';
    src: url('texte_police/texte1/roboto-thin-webfont.woff') format('woff2'),
         url('texte_police/texte1/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*******************************************************************************************************************/
/*                                                                                                                  /
/*                                                                                                                  /    
                                             /*Barre fixe de navigation */
/*                                                                                                                   /
/*                                                                                                                   /
/********************************************************************************************************************/ 

#header_webagency{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 80px;
    flex-wrap: wrap;
    top: 0px;
    width: 100%;
    position: fixed;
    background-color:white;
    z-index: 9;
}
.navigation  ul{
    list-style-type: none;
    display: flex; 
}
.menus{
    margin-right: 20px;
    background-color: white;
}
.navigation a{
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.5) ;
    text-decoration: none;
}
.navigation a:hover{
    border-top: 4px #5CADD3 solid;     
    padding: 26px 0 0;
    color: black;
}
/*******************************************************************************************************************/
/*                                                                                                                  /
/*                                                                                                                  / 
                                                            /*slider */
/*                                                                                                                   /
/*                                                                                                                   /
/********************************************************************************************************************/ 
#titre_principal{
    font-size: 41px;
    padding-top: 240px;
    padding-left: 280px;
}
span{
    color: rgb(92, 173, 211);
}
#titre_secondaire{
    margin-top: -20px;
    padding-left: 280px;
    font-size: 16px;
}
.enfant_sourit{
    z-index: 0;
    width: 100%;
    margin-top: -22px;
}
.texte_slider{
    color: #ffffff ;
    z-index: 1;
    position: absolute;
}
.bouton{
    z-index: 1;
    position: absolute;
    top: 440px;
    left: 290px;
    width: 148px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    color: white;
    background-color: rgb(92, 173, 211);
    border: none;
    border-bottom: 3px solid rgb(68, 148, 187);
    border-radius: 4px;
    cursor: pointer;
}
#fleche_left{
    z-index: 1;
    position: absolute;
    top: 360px;
    padding-left: 12px;
    background:rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 80px;
    border-radius: 50px;  
    left: -40px;
    cursor: pointer;
}
#rond_left{
    position: absolute;
    margin-top: 20px;
    right: 20px;
    color: white;
    font-size: 35px;
}
#fleche_right{
    z-index: 1;
    position: relative;
    top: 337px;
    margin-left: 1857px;
    background:rgba(0, 0, 0, 0.1);
    width: 46px;
    height: 80px;
    border-radius: 50px 0 0 50px;
    cursor: pointer;
    margin-top: 21px;
}
#rond_right{
    position: relative;
    color: white;
    font-size: 35px;
    margin-top: 23px;
    margin-left: 16px;
}
#ligne_bleu{
    position: relative;
    bottom: 17.133px;
    z-index: 2;
    color: #5CADD3;
    left: -812px;
    width: 280px;
    border-top-width: 4px;
 }
 #ligne_grise{
     position: relative;
     z-index: 1;
     color: rgba(0, 0, 0, 0.2);
     border-top-width: 4px;
     bottom: 30.133px
 }
/*******************************************************************************************************************/
/*                                                                                                                  /
/*                                                                                                                  / 
                                                Nos Services /Nos Projets (titre et texte)
/*                                                                                                                   /
/*                                                                                                                   /
/********************************************************************************************************************/ 
.grand_titre{   						
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.texte{
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 25px;
    margin-bottom: 60px;
}
.circle_blue{
    display: flex;
    justify-content: center;
    margin-top: -20px;
    color:rgb(92, 173, 211) ;    
}
.circle_white{
    display: flex;
    justify-content: center;
    margin-top: -16px;
    color:white; 
    font-size: 25px;
}
.ligne{
    width: 125px;
    margin-top: -9px;
    color: rgba(237, 237, 237, 0.5);
}
#services{
    padding-top: 90px;
}
/*******************************************************************************************************************/
/*                                                                                                                  /
/*                                                                                                                  / 
                                        sections et article (nos services)           
/*                                                                                                                   /
/*                                                                                                                   /
/********************************************************************************************************************/ 
#description{
    display: flex;
    flex-direction: row;
}
#block_design{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#block_ordi{
    width: 50%;
    display: flex;
    justify-content: center;
}
.design{
    display: flex;
}
.texte_titre{
    margin-top: -10px;
    color:rgba(0, 0, 0, 0.5);
}
.circle_services{
    z-index: 1;
    color:rgb(92, 173, 211) ;
    font-size: 15px;
    margin-left: 3px;
    margin-top: 3px;
}
.icon{
    color:rgb(92, 173, 211);
    font-size: 200%;
    margin-top: 15px;
    margin-left: 15px;
}
.border_services{
    width: 6.3%;
    height: 65%;
    border-radius: 50%;
    display: flex;
    margin-top: 26px;
    border: solid rgba(0, 0, 0, 0.2);
    border-width: 2px;
}
.border_circle{
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
    left: -11px;
    bottom: -47px;
}
/*******************************************************************************************************************/
/*                                                                                                                  /
/*                                                                                                                  / 
                                        nos projets           
/*                                                                                                                   /
/*                                                                                                                   /
/********************************************************************************************************************/ 
#ul_projets{
    display: flex;
    justify-content: center;
}
#nav_projets{
    display: flex;
    list-style-type: none;
    width: 395px;
    color: rgb(101, 105, 110);
    border: none;
    border-radius: 5px;
    margin-bottom: 4%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color: rgb(229, 229, 229);
}
.boutom_projets{
    display: flex;
    width: 100px;
    justify-content: center;
    font-size: 1.1em; 
    cursor: pointer; 
}
.boutom_projets a:hover{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color: aqua;
}
#ul_projets {
    color: white;
    border: none;
    border-radius: 5px;
} 
#portfolio{
    padding-top: 90px;
}
#block_projets{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}
.images_projet{
    width: 100%;
}
.espace_reduit{
    position: relative;
    margin-left: 17px;
}
.text_projets{
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    margin-top: -92px;
    width: 20%;
    height: 15.4%;
}
.texte_photo{
    font-size: 125%;
    margin-top: -17px;
    margin-left: 17px;
}
.eyes{
    z-index: 1;
    position: relative;
    font-size: 80%;
    bottom: 126px;
    right: -328px;
    width: 0%;
}
.eyes_circle{
    width: 11%;
    height: 46%;
    background-color:rgb(92, 173, 211);
    border-radius: 50%;
    position: relative;
    right: -316px;
    bottom: 96.167px;
    border: solid white;
    border-width: 2px;
}
.block_figure{
    width: 20%;
}
.block_figure:hover .text_projets{
    opacity: 1; 
}
/*******************************************************************************************************************/
/*                                                                                                                  /
/*                                                                                                                  / 
                                    footer (contact)          
/*                                                                                                                   /
/*                                                                                                                   /
/********************************************************************************************************************/
#form_contact{
    background-color: rgba(255, 255, 255, 0.9);
    width: 381px;
    position: absolute;
    bottom: 95px;
    left:70%;
    height: 67%;
    top: 191.5px;
}
#map{
    border: 0;
    width: 100%;
    height: 840px;
}
.fond_blue{
    
    z-index: 1;
    opacity: 1;
    color: rgb(92, 173, 211);
}
#contact{
    position: relative;
    padding-top: 90px;
}
.tableu{
    margin-left: 28px;
    margin-top: 24px;
}
.button_send{
    height: 5%;
    font-size: 97%;
    color: white;
    background-color: rgb(92, 173, 211);
    border: none;
    border-bottom: 3px solid rgb(68, 148, 187);
    border-radius: 4px;
    cursor: pointer;
    margin-left: 28px;
    margin-top: 28px;
}
.texte_form{
    margin-left: 28px;
}
.titre_form{
    font-size: 29px;
}
.info_form{
    font-size: 16px;
    margin-top: -8px;
    color: rgba(0, 0, 0, 0.8);
}
#pseudo, #email, #subject{
    height: 19px;
    width: 316px;
}